body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.header {
    display: flex;
    padding:0px 120px;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    font-weight: normal;
}